# Dependencias
node_modules/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Archivos de entorno
.env
.env.*

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Archivos generados
coverage/
dist/